$min-height: 500px;

.select {
    min-height: $min-height;
    &:read-only {
        background-color: inherit;
    }

    option {
        &:disabled {
            color: inherit;
            font-weight: 600;
            font-size: large;
        }
    }
}