$primary: #102247;
$secondary: #125CFC;
$success: #28a745;
$danger: #E94F37;
$warning: #E94F37;
$info: #F87666;
$light: #D5DBE6;
$dark: #2D3319;
$muted: #808A9F;
$white: #ffffff;
$black: #000000;


$body: 'Open Sans', sans-serif;
$header: 'Montserrat', sans-serif;

//https://coolors.co/14213d-ffffff-808a9f-102247-d5dbe6